.css-ezhdol-MuiBadge-badge.MuiBadge-overlapCircular {
  min-width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 10%;
}

.dropdown-active {
  background-color: rgba(28, 29, 31, 0.04) !important;
}
